<!-- syntax_highlighting: html -->
<% content_for(:forum_content) do %>
  <div class="large-12 columns">
    <h1 class="left"><%= @forum.name %> Forumu</h1>
    <% if signed_in? %>
      <%= link_to 'Konu Aç', new_forum_topic_path(@forum), class: 'button right',
                             style: 'margin-top: 10px' %><hr>
    <% end %>
    <div class="topics panel columns">
      <% if @forum.topics.any? %>
        <%= render @forum.topics %>
      <% else %>,
        <p>Henüz hiçbir konu açılmamış.</p>
      <% end %>
    </div>
  </div>
<% end %>
