<!-- syntax_highlighting: html -->
<% content_for(:forum_content) do %>
  <div class="large-12 columns">
    <h1 class="left"><%= @forum.name %> Forumu</h1>
    <% if signed_in? %>
      <%= link_to 'Konu Aç', new_forum_topic_path(@forum), class: 'button right' %><hr>
    <% end %>
    <div>
      <p>Bu foruma ait konular...</p>
    </div>
  </div>
<% end %>
