<!-- syntax_highlighting: html -->
<% content_for(:profile_content) do %>
    <h2><%= page.capitalize %></h2>
    <% if @data.blank? %>
        <p><%= page.capitalize %> bulunmamaktadır.</p>
    <% else %>
        <% @data.each do |d| %>
            <div><%= d %></div>
        <% end %>
    <% end %>
<% end %>
