<% content_for(:content) do %>
  <div class="large-3 columns panel">
    <h3>KONULAR</h3><hr>
    <ul class="side-nav">
      <%= render @forums %>
    </ul>
  </div>
  
  <div class="large-9 columns">
    <%= yield :forum_content %>
  </div>
<% end %>
 
<%= render template: 'layouts/application' %>
